%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Description:
  = @task.description
%p
  %b Due date:
  = @task.due_date
%p
  %b Category:
  = @task.category

.notes-container
  - @task.notes.each do |n|
    %p= n.body
  = simple_form_for Note.new, url: task_notes_path(task_id: @task.id) do |f|
    = f.input :body, label: false, as: :string, placeholder: 'Enter your note', input_html: { autocomplete: :off }

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
